{
  "author": "<%= author %>",
  "name": "<%= name %>",
  "version": "0.0.1",
  "dependencies": {
    "express": "*",
    "jade": "*",
    "less": "*",
    "coffee-script": "*",
    "lodash": "*",
    "nodemon" : "~1.0.14",
    "connect-assets" : "~2.5.4",
    "bower" : "~1.2.8"
  },
  "engines": {
    "node": "~0.10.26"
  }
}
