doctype html 
html(xmlns="http://www.w3.org/1999/html")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/components/bootstrap/dist/css/bootstrap.css")
    block head
  body
    block content
    block scripts